{% extends 'base_log.html' %} {% load crispy_forms_tags %}
{% block header %}Register{% endblock header %}
 {% block content %}
<div class="py-5">
  <div class="d-flex justify-content-center p-5 m-5">
    <div class="card col-md-9 p-5">
      <div class="d-flex justify-content-center">
        <div class="p-3 m-4">
            <h2>Register</h2>
        </div>
    </div>
      <form method="POST" action="">
        {% csrf_token %} {{form|crispy}}
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
