{% extends 'base.html' %} {% load static %} {% load humanize %} 
{% block title %}Dashboard{% endblock title %}
<link rel="stylesheet" href="{% static 'css/dash.css' %}" type="text/css" />
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header"><strong>Sales</strong> | Today</div>
        <div class="card-body">
          <div class="col py-2">
            <h3>{{ today_bal|intcomma }}</h3>
            <div class="badge badge-pill badge-success">12% increase</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header"><strong>Revenue</strong> | This Month</div>
        <div class="card-body">
          <div class="col py-2">
            <h3>{{ np_sum|intcomma }}</h3>
            <div class="badge badge-pill badge-success">12% increase</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">Card Header</div>
        <div class="card-body">
          Employees Activity
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">Latest Sales</div>
        <div class="card-body">
          <table class="table">
            <thead class="thead">
              <tr>
                <th scope="col">Quantity</th>
                <th scope="col">Item</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for emp in curr_month %}
              <tr>
                <td>{{ emp.quantity }}</td>
                <td>{{ emp.item }}</td>
                <td>{{ emp.total|intcomma }}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">Doughnut Chart</div>
        <div class="card-body">
          <canvas id="doughnut"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">Line Graph</div>
        <div class="card-body">
          <canvas id="line"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">Bar Graph</div>
        <div class="card-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <script>
    const dtx = document.getElementById('doughnut');
    new Chart(dtx, {
      type: 'doughnut',
      data: {
        labels: [{% for label in cash %}'{{label.item}}',{% endfor %}],
        datasets: [{
          label: '# of Votes',
          data: [{% for label in cash %}{{label.total}},{% endfor %}],
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const ltx = document.getElementById('line');

    new Chart(ltx, {
      type: 'line',
      data: {
        labels: [{% for label in cash %}'{{label.item}}',{% endfor %}],
        datasets: [{
          label: '# of Votes',
          data: [{% for label in cash %}{{label.total}},{% endfor %}],
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for label in cash %}'{{label.item}}',{% endfor %}],
        datasets: [{
          label: '# of Votes',
          data: [{% for label in cash %}{{label.total}},{% endfor %}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>
{% endblock content %}
