<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% load humanize %} 
{% block content %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Dashboard{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha384-xBuGJxZYQ01snMOz7fdj1yO+fxUoPwU6Kb8dRGlo3Xqz4Gqp1U5G6BdQ5UAVzPfN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/dash.css' %}" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 card m-1">
              <div class="card-header" style="background-color: white">
                  <strong>Sales</strong> | Today
              </div>
              <div class="row">
                  <div class="col p-2 mx-2">
                    <div class="avatar">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="col py-2">
                    <h3>{{ today_bal|intcomma }}</h3>
                    <div class="badge badge-pill badge-success">
                      12% increase
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 card m-1">
              <div class="card-header" style="background-color: white">
                <strong>Revenue</strong> | This Month
              </div>
              <div class="row">
                <div class="col p-2 mx-2">
                  <div class="avatar">
                    <i
                      class="fa fa-dollar"
                      style="font-size: 24px; color: green"
                      >></i
                    >
                  </div>
                </div>
                <div class="col py-2">
                  <h3>{{ np_sum|intcomma }}</h3>
                  <div class="badge badge-pill badge-success">12% increase</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="col p-4 m-2 card">
                <div class="h-2">
                  <div
                    class="d-flex justify-content-center text-center"
                    style="width: 300px; height: 300px"
                  >
                    <canvas id="doughnut"></canvas>
                  </div>
                  <script>
                    const dtx = document.getElementById('doughnut');
                    new Chart(dtx, {
                      type: 'doughnut',
                      data: {
                        labels: [{% for label in cash %}'{{label.item}}',{% endfor %}],
                        datasets: [{
                          label: '# of Votes',
                          data: [{% for label in cash %}{{label.total}},{% endfor %}],
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
                </div>
              </div>
              <div class="col p-4 m-2 card">
                <div class="row">
                  <a href="" class="btn btn-sm btn-secondary m-2">TXT</a>
                  <a href="" class="btn btn-sm btn-secondary m-2">CSV</a>
                  <a href="" class="btn btn-sm btn-secondary m-2">PDF</a>
                </div>
                <div>
                  <canvas id="line"></canvas>
                </div>
                <script>
                  const ltx = document.getElementById('line');

                  new Chart(ltx, {
                    type: 'line',
                    data: {
                      labels: [{% for label in cash %}'{{label.item}}',{% endfor %}],
                      datasets: [{
                        label: '# of Votes',
                        data: [{% for label in cash %}{{label.total}},{% endfor %}],
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                </script>
              </div>
            </div>
          </div>
          <div class="row p-4 m-2 card">
            <div class="col" style="height: 700px">
              <canvas id="myChart"></canvas>
            </div>

            <script>
              const ctx = document.getElementById('myChart');

              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: [{% for label in cash %}'{{label.item}}',{% endfor %}],
                  datasets: [{
                    label: '# of Votes',
                    data: [{% for label in cash %}{{label.total}},{% endfor %}],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
            </script>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="d-flex justify-content-center">
            <div class="col card p-1">
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Item</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for emp in curr_month %}
                  <tr>
                    <td>{{ emp.quantity }}</td>
                    <td>{{ emp.item }}</td>
                    <td>{{ emp.total|intcomma }}</td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script src="" async defer></script>
  </body>
</html>
