{% extends 'base.html' %}

{% block header %}
<div class="col card m-3">
    <h1 class="p-3">Employees</h1>
  </div>
{% endblock header %}

{% block content %}
<div class="d-flex justify-content-center">
<div class="col-md-8 card p-4 mx-3">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Position</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for emp in employees %}
        <tr>
          <td>{{ emp.user }}</td>
          <td>{{ emp.position }}</td>
          <td>
            <div class="row">
              <h6>
                <a href="" class="badge badge-success mx-1"
                  >update</a
                >
              </h6>
              <h6>
                <a href="" class="badge badge-danger mx-1"
                  >delete</a
                >
              </h6>
            </div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}