{% extends 'receipts.html' %}
{% load crispy_forms_tags %}
{% block rtype %}General Receipt{% endblock rtype %}
{% block form %}
<div class="col card p-4">
  <form method="POST" action="">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-sm bg-secondary" type="submit">
      submit
    </button>
  </form>
</div>
{% endblock form %}
{% block records %}
<div class="col card p-4 mx-3">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Description</th>

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pos in positions %}

      <tr>
        <td>{{ pos.position }}</td>
        <td>{{ pos.description }}</td>

        <td>
          <div class="row">
            <h6>
              <a href="" class="badge badge-success mx-1">update</a>
            </h6>
            <h6>
              <a href="" class="badge badge-danger mx-1">delete</a>
            </h6>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock records %}
