{% extends 'receipts.html' %}
{% load crispy_forms_tags %}
{% block rtype %}Cash{% endblock rtype %}
{% block form %}
<div class="col card p-5 m-3">
  <form method="POST" action="">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-sm bg-secondary" type="submit">submit</button>
  </form>
</div>
{% endblock form %}
{% block records %}
<div class="col card p-2 mx-3">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item</th>
        <th scope="col">Sale Type</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}

      <tr>
        <td>{{ sale.date|date:"Y-m-d" }}</td>
        <td>{{ sale.quantity }} {{ sale.unit }}</td>
        <td>{{ sale.item }}</td>
        <td>{{ sale.sale_type }}</td>
        <td>{{ sale.price }}</td>
        <td>{{ sale.total }}</td>
        <td>
          <div class="row">
            <h6>
              <a href="" class="badge badge-success mx-1">update</a>
            </h6>
            <h6>
              <a href="" class="badge badge-danger mx-1">delete</a>
            </h6>
          </div>
        </td>
      </tr>

      {% endfor %}

      <tr>
        <td colspan="5">Total Debit</td>
        <td>{{ debit }}</td>
      </tr>
      <tr>
        <td colspan="5">Total Credit</td>
        <td>{{ credit }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock records %}