{% extends 'receipts.html' %}
{% load crispy_forms_tags %}
{% block rtype %}General Receipt{% endblock rtype %}
{% block form %}
<div class="col card p-4">
  <form method="POST" action="">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-sm bg-secondary" type="submit">
      submit
    </button>
  </form>
</div>
{% endblock form %}
{% block records %}
<div class="col card p-4 mx-3">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Reason</th>
        <th scope="col">Received by</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}

      <tr>
        <td>{{ sale.date|date:"Y-m-d" }}</td>
        <td>{{ sale.name }}</td>
        <td>{{ sale.amount }}</td>
        <td>{{ sale.reason }}</td>
        <td>{{ sale.received_by }}</td>
        <td>
          <div class="row">
            <h6>
              <a href="{% url 'gr_update' sale.id %}" class="badge badge-success mx-1"
                >update</a
              >
            </h6>
            <h6>
              <a href="{% url 'del_gr' sale.id %}" class="badge badge-danger mx-1"
                >delete</a
              >
            </h6>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock records %}
