{% extends 'receipts.html' %}
{% load crispy_forms_tags %}
{% block rtype %}Cash{% endblock rtype %}
{% block form %}
<div class="col card p-5 m-3">
  <form method="POST" action="">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-sm bg-secondary" type="submit">submit</button>
  </form>
</div>
{% endblock form %}
{% block records %}
<div class="col card p-4 mx-3">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for prdt in prdts %}

      <tr>
        <td>{{ prdt.date|date:"Y-m-d" }}</td>
        <td>{{ prdt.quantity }} {{ sale.unit }}</td>
        <td>{{ prdt.item }}</td>
        <td>{{ prdt.price }}</td>
        <td>{{ prdt.total }}</td>

        <td>
          <div class="row">
            <h6>
              <a href="{% url 'proforma_update' prdt.id %}" class="badge badge-success mx-1"
                >update</a
              >
            </h6>
            <h6>
              <a href="{% url 'del_proforma ' prdt.id %}" class="badge badge-danger mx-1"
                >delete</a
              >
            </h6>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock records %}