{% extends 'base.html' %} {% block title %}Receipts{% endblock title %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'add_cash' %}">
        <div class="card p-3">
          <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-column ml-2">
              <span>Cash Receipt</span
              ><span class="text-black-50">For Cash and credit Sales</span>
            </div>
          </div>
          <h6>View all your cash receipt records here.</h6>
          <div class="d-flex justify-content-between install mt-3">
            <span>300 entries</span
            ><span class="text-primary"
              >View&nbsp;<i class="fa fa-angle-right"></i
            ></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'add_invoice' %}">
        <div class="card p-3">
          <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-column ml-2">
              <span>Invoice Receipt</span
              ><span class="text-black-50">For Invoice Sales</span>
            </div>
          </div>
          <h6>View all your Invoice records here.</h6>
          <div class="d-flex justify-content-between install mt-3">
            <span>300 entries</span
            ><span class="text-primary"
              >View&nbsp;<i class="fa fa-angle-right"></i
            ></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'add_proforma' %}">
        <div class="card p-3">
          <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-column ml-2">
              <span>Proforma Receipt</span
              ><span class="text-black-50">For Cash and credit Sales</span>
            </div>
          </div>
          <h6>View all your Proforma records here.</h6>
          <div class="d-flex justify-content-between install mt-3">
            <span>300 entries</span
            ><span class="text-primary"
              >View&nbsp;<i class="fa fa-angle-right"></i
            ></span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'gen_receipt' %}">
        <div class="card p-3">
          <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-column ml-2">
              <span>General Receipt</span
              ><span class="text-black-50">For Cash and credit Sales</span>
            </div>
          </div>
          <h6>View all your General receipt records here.</h6>
          <div class="d-flex justify-content-between install mt-3">
            <span>300 entries</span
            ><span class="text-primary"
              >View&nbsp;<i class="fa fa-angle-right"></i
            ></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
